@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&family=Lobster&display=swap');

html {
    font-family: "Life Savers", serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    background-color: #ffffff;

    overflow-x: hidden;
}

.navbar-container {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;

    z-index: 1;
}

.navbar {
    width: calc(100% - 15px);
    height: calc(100% - 15px);

    border-radius: 7px;

    background-color: #ff8396;

    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    /*filter: drop-shadow(10px 10px rgba(0, 0, 0, 0.1));*/
}


.link-container {
    list-style-type: none;
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.link-container a {
    color: black;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-weight: bolder;
}

.link-container a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -2px;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #ffffff;
    transition: 0.15s ease 0s, left 0.15s ease 0s;
    width: 0;
  }
  .link-container a:hover:after { 
    width: 100%; 
    left: 0; 
  }

  .link-container img {
    width: 80px;
    height: 80px;
}

section {
    width: 100vw;
    height: 100vh;
}

#landing {
    background-color: #ffabfb;
    background-image: url("media/slider.jpg");
    background-size: cover;
    background-position: center;


    overflow: hidden;

    display: flex;
}

.left-side-landing {
    width: 50vw;
    height: 100%;
    font-family: "Lobster", sans-serif !important;
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-side-landing {
    width: 50vw;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side-landing img {
    transform: rotate(-10deg);
}

#contact {
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    width: 500px;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.contact-container h3 {
    font-weight: bolder;
}

.contact-container input, .contact-container textarea {
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    background-color: white;
    /*font-family: "Roboto", sans-serif*/
    font-size: 16px;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    filter: drop-shadow(3px 3px #ff8396);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    resize: none;
}

.contact-container textarea {
    height: 100px;
}

.contact-container button {
    width: 80px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    filter: drop-shadow(3px 3px #ff8396);
    border-radius: 5px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    transition: 0.3s ease-in-out all;
    color: #ff8396;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-family: "Life Savers", serif;

}

.contact-container button:hover {
    background-color: #ff8396;
    color: white;
}

footer {
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #ffb6c1;
}

.left-side-footer, .middle-footer, .right-side-footer {
    width: 50vw;
    height: 100%;

    display: flex;
    justify-content: center;
}

.left-side-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-side-footer a {
    margin: 15px;
    margin-left: 20%;

    color: #19191a;

    float: left;
}

.middle-footer, .right-side-footer {
    align-items: center;
}

.middle-footer img {
    max-height: 90%;
}

.right-side-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

#about {
    background-color: #ffffff;
    display: flex;
    color: black;
}

.left-side, .right-side {
    height: 100%;
    width: 50vw;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-side img {
    max-height: 90%;
}



.right-side {
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: bolder;
}


.right-side p {
    max-width: 90%;
    font-size: 18px;
}

#sweets {
    width: 100vw;
    background-color: #ffb6c1;
    text-align: center;
    padding-top: 15px;
    height: auto;

}

#sweets h1 {
    margin-top: 0px;
}

.flavor-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
}

.flavor {
    height: 250px;
    background-color: ghostwhite;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s ease-in-out all;
    margin: 20px;
}

.flavor img {
    width: 200px;
    height: 200px;
    max-height: 250px;
    object-fit: cover;
}

.flavor:hover {
    transform: scale(1.05);
}

.scroll-down {
    position: absolute;
    left: 10%;
    top: 70%;
    width: 150px;
    height: 60px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 2s infinite bounce;
    color: #19191a;
}

.scroll-down {
    text-decoration: none;
}

.scroll-down:visited {
    color: #19191a;
}

.scroll-down-icon {
    height: 30px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }
}


@media screen and (max-width:768px) {
    .flavor {
      margin: 2px;
      transform: scale(0.9);
    }
  
    #about {
      flex-direction: column;
      height: 150vh;
    }

    .left-side {
        height: 50vh;
    }
  
    .left-side, .right-side {
      width: 100vw;
    }
  
    .left-side img {
      max-width: 90%;
    }
  
    #sweets {
      padding: 30px;
      width: auto;
      overflow-x: hidden;
    }
}   




.text-container {
    position: absolute;
    width: 500px;
    height: 250px;
    left: 30%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.text-container h1 {
    font-size: 84px;
    font-family: "Lobster", sans-serif;
    color: #e57587;
}

.text-container p {
    transform: translateY(-40px);
}
